*{
    margin:0;
    overflow:hidden;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}
#mainContainer{
    display:flexbox;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    background:whitesmoke;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}
#appArea{
    display:flex;
    flex-direction: row;
    flex:1;
    overflow:hidden;
    width:97.5vw;
    min-height: 93vh;
    max-height:95vh;
    border:3px black solid;
    border-radius:10px;
    margin-bottom:5px;
    box-shadow: 5px 5px 15px 5px black;
    margin:15px;
}
#navigationContainer{
    display:block;
    border-right:2px solid black;
    width:35%;
    height:100vh;
    overflow:hidden;
    
}
#headArea{
    display:flex;
    flex-shrink:1;
    justify-content: center;
    align-items: center;
    font-size:25px;
    padding:10px;
    width:100%;
    margin-top:11px;
    margin-right:15px;
    margin-bottom:50px;
    border-bottom:1px solid black;
}
#headArea > h1{
    font-weight: 350;
    position:relative;
    bottom:3.5px;
}
#navArea{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:5px;
}
#homeIcon:hover{
    cursor:pointer;
}
#down{
    display:inline;
    position: relative;
    top:1.2px;
    margin-left:3.5px;
}
.icon_text{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 15px;
    margin-bottom:10px;
    justify-content:flex-start;
} 
#homeIcon{
    margin-right:5px;

}
#folderIcon{
    margin-right:7.2px;
}
#textHome:hover{
    cursor: pointer;
}
#textHome{
    font-size:15px;
    position:absolute;
    left:62px;
    top:141.2px;
    font-weight: 350;
}
#textFolder{
    font-size:15px;
    position:absolute;
    left:62px;
    top:173px;
    font-weight: 350;
}
#textFolder:hover{
    cursor:pointer;
}
#subDirectoriesFolder{
    display:flex;
    width:40%;
    justify-content: center;
}
#subDirectories{
    display:flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
}
#subDirectories > li{
    display:none;
    font-weight:300;
    margin-bottom:2px;
}
#listArea{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width:auto;
    min-height: 93vh;
    max-height:95vh;
    width:100%;
    background-color:rgb(240, 250, 255);
}
#listAreaHeader{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:20%;
    font-size:19px;
    padding:10px;
    border-bottom:1px solid black;
}
#listAreaHeader > h2{
    font-weight:300;
}
#addTaskArea{
    display:flex;
    justify-content:center;
    align-items: center;
    position:relative;
    top:2px;
    left:25px;
}
#plusIconButton{
    display:flex;
    width:30px;
    height:30px;
    border:solid black 2px;
    border-radius:100%;
    justify-content: center;
    align-items: center;
    background-color:greenyellow
}
#plusIcon{
    font-size:25px;
    font-weight: 300;
    width:fit-content;
}
#plusIcon:hover{
    display:block;
    animation: 1s spin;
}
@keyframes spin {
    0%  {
        transform: rotate(0deg);
        font-size:15px;
    }
    100%    {
        transform: rotate(360deg);
        font-size:25px;
    }
    
}
#taskAreaContainer{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    min-height: 89%;
    width:100%;
    max-height:fit-content;
    background-color:aquamarine;

}
#taskArea{
    display:flex;
    align-content:center;
    justify-content: center;
    background-color: aqua;
    width:80%;
    border:solid black 1px;
    border-radius:50px;
    height:30px;
    padding:2px;
    margin-top:20px;
}
#tasks{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}
#modal{
    display:none;
    position:fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color:rgba(0,0,0,0.3);
    animation: opacity 7s;
}
#modal_FormArea {
    display:flex;
    align-items: center;
    justify-content: center;
    border:solid 2px black;
    width:70%;
    background-color:white;
    height:90%;
    border-radius: 30px;
    animation: 2s ease-out stretch_spin;
}
@keyframes stretch_spin{
    0%{
        width:200%;
        height:300%;
        transform:rotate(0deg);
    }
    50%{
        width:-100%;
        height:-200%;
        transform:rotate(80deg);
    }
    75%{
        width:50%;
        height:80%;
        transform:rotate(160deg);
    }
    100%{
        width:70%;
        height:90%;
        transform: rotate(360deg);
    }
}

