*{
    overflow-x:hidden;
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mainSection{
    position: relative;
    display:flex;
    overflow-y:hidden;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height:100vh;
    width: 100%;
    background-image: url(/imagens/todo.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:inherit;
    max-width:100%;
    z-index: 1;
}
#mainSection::after{
    content: "";
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: -1;
}
#appText{
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    background-image:url(/imagens/images.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    border:5px solid black;
    border-right:1px solid black;
    border-radius:4.5px;
    min-height:80%;
    max-height:90%;
    width:50%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#mainHead{
    display:block;
    position: relative;
    bottom:125px;
    color:#000;
    font-size:20px;
    margin-left:15%;
    margin-right:15%;
    padding:5px;
    margin-bottom:10px;
}
#mainHead > h1{
    font-weight:200;
}
#textArea{
    position:relative;
    bottom:85px;
    color:#000;
    font-size:15px;
    padding:10px;
    margin:5px;
    width:200px;
    text-align: center;
    font-weight: 950;
}
#formContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url(/imagens/organize.jpg);
    border:5px solid black;
    border-radius:4.5px;
    border-left:none;
    min-height:80%;
    max-height:90%;
    width:40%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-repeat:no-repeat;
    background-size:cover;
}
#formArea{
    position:relative;
    display:flex;
    justify-content: center;
    width:300px;
    flex-direction:column;
    height:300px;
    z-index:1;
}
#formArea::after{
    content: "";
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(163, 163, 163, 0.65);
    z-index: -1;
}

#formArea > .inputForm{
    margin:20px;
    border:solid rgb(101, 101, 101) 2px;
    border-radius:4.5px;
}
.inputFormButton{
    display: block;
    text-align:center;
    margin: 0 auto;
    margin-top:15px;
    width:80px;
    height:30px;   
    background: rgb(0,0,8);
    background: linear-gradient(150deg, rgba(0,0,8,1) 0%, rgba(104,106,107,1) 35%, rgba(244,253,255,1) 100%);  
    background-size:10px;
    background-repeat: no-repeat;
    border:1px solid black;
    font-weight: 300;
    color:black;
    transition:background 1s;
}
.inputFormButton:hover{
    background-size:100%;
    color:black;
    font-weight: 400;
}
